@import 'tailwindcss';

:root {
  --background: #f8f8f7;
  --foreground: #141413;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary-50: #ebf2ff;
  --color-primary-100: #d6e4ff;
  --color-primary-200: #8abaff;
  --color-primary-300: #015ae0;
  --color-primary-400: #003d9e;
  --color-primary-500: #002570;

  --color-accent-50: #fff5fa;
  --color-accent-100: #fee8f4;
  --color-accent-200: #f5a9d0;
  --color-accent-300: #db3d8a;
  --color-accent-400: #9d2661;
  --color-accent-500: #6a163e;

  --color-neutral-50: #f8f8f7;
  --color-neutral-100: #ebebea;
  --color-neutral-200: #ddddda;
  --color-neutral-300: #aeada9;
  --color-neutral-400: #6e6d6a;
  --color-neutral-500: #2e2d2b;
  --color-neutral-600: #141413;

  --font-sans: var(--font-manrope-next), system-ui, sans-serif;
  --font-antonio: var(--font-antonio-next), sans-serif;
  --font-manrope: var(--font-manrope-next), system-ui, sans-serif;
  --font-reenie: var(--font-reenie-next), cursive;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), system-ui, sans-serif;
}
